<style>
        
        
    h1{
        font-size:100px;
        color:white;
    }
    p{
        font-size:60px;
        color:white;
    }
    li{
        font-size:40px;
        color:white;
        
    }
    table{
        color:white;
    }
    .bigheader {
        color: white;
        font-size:70px;
    }
    .citefont {
        font-size:5px;
        color: white;
    }
    
    
</style>
